/* html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
} */

body {
    
    background: #ffffff;
    font-size: 100%;
}

a {
    text-decoration: none;
}

/* clear float */
.clear {
    clear: both;
}

img {
    max-width: 100%;
}


header {
    padding: 2% 4%;
}

.logo {
    float: left;
    margin: -15px;
    padding: 0px;
}
.h_right{float:right;}

ul{
    list-style: none;
    margin: 0;
    padding:0;
}
.menu{
    float: left;    
}
.menu li{
    float:left;
    margin-right: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu li a
{
    font-size: 1.05em;
    color: #000000;
    text-transform: uppercase;
    margin: 10px;
    font-weight: 600;
    text-decoration: none;
}

.menu li.active1 a, .menu li a:hover{
    /* background-color: #19BD9B; */
    color: #ff0000;
}

/* login */

 /* Additional CSS for login and signup buttons */
 .login-signup {
    display: flex;
    align-items: center;
    padding-bottom: 2%;
    margin: -4px;
    
}

.login-signup{
    float: right;
}
.login-signup button {
    
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-signup button:hover {
    background-color: #45a049; 
}




/* Main banner */

* {box-sizing: border-box}
body {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; margin:0}
.mySlides {display: none}
/* img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  /* margin-left: 5px;
  margin-right: 5px; */
  max-width: 100%;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

Caption text
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Caption text */
.text {
    color: whitesmoke;
    font-size: 40px;
    padding: 30px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.our_rooms{
    font-size: xx-large;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}



#portfoliolist .portfolio
{
    box-sizing: border-box;
    width: 30%;
    margin: 20px;
    display: inline;
    float: left;
    overflow: hidden;
}
.portfolio-wrapper
{
    position: relative !important;
    cursor: pointer;
    width:100%;
    overflow:hidden
}
.portfolio-wrapper > img
{
    transition: all .5s ease-in-out;
    width:100%;
}
.portfolio-wrapper > img:hover
{
    transform: scale(1.1);
}

.portfolio, .label-bg
{
    transition: all 0.3s ease-in-out;
}
.portfolio:hover, .label-bg:hover
{
    background: rgba(0, 0, 0, 0.21);
}
.portfolio .label-text
{
    text-align: center;
    color: #000;
    position: relative;
    z-index: 20;
    padding: 5px 8px;
}
.text-title
{
    font-size: 1.2em;
    color: #000;
    font-weight: 100;
    text-transform: capitalize;
    line-height: 1.8em;
}
.portfolio .text-category
{
    display: block;
    font-size: 0.8125em;
    text-transform: capitalize;
    font-weight: 100;
}


/** about section **/

.about {
    background-color: #fff;
    /* padding-top: 85px; */
    padding: 20px;
}

.about .titlepage {
    text-align: left;
    padding-bottom: 0;
    max-width: 443px;
    width: 100%;
    float: left;
}

.about .titlepage h2 {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 40px;
    text-align: center;
    font-family:cursive ;
    
}

.about .titlepage p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-left: 80px;
    padding: 20pxx;
    color: gray;
    font-family: cursive;

}


.about_img {
    margin-right: 20px;
    overflow: hidden;
    
}

.about_img figure {
    width: 90%;
    float: right;
    margin: 0;
    padding-top: 50px;
}

.about_img figure img {
    width: 100%;
    transition: all .5s;
    
}

.about_img figure img:hover {
    transform: scale(1.2);
}



/* --------------  */

.booking_ocline {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.book_room {
    background-color: #000000c7;
    padding: 30px 35px;
    border-left: #ff0909 solid 5px;
}

.book_room h1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.book_now span {
    display: block;
    color: #fff;
    font-size: 18px;
    padding-bottom: 5px;
}

.book_now .online_book {
    width: 100%;
    height: 50px;
    border: #fff solid 1px;
    background-color: transparent;
    color: #fff;
    padding: 0 10px;
    padding-right: 61px;
    margin-bottom: 25px;
    position: relative;
}

.date_cua {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 48px;
    background-repeat: no-repeat;
    right: 30px;
}

.book_btn {
    background-color: #fe0000;
    max-width: 189px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    transition: ease-in 0.5s;
    display: block;
}

.book_btn:hover {
    background-color: #fff;
    color: #fe0000;
    transition: ease-in 0.5s;
}

/* .carousel-control-next,
.carousel-control-prev {
    display: none;
}

.carousel-indicators {
    right: inherit;
    bottom: 53px;
    margin-left: 9%;
} */


/* footer  */

footer
{
    background: #0f1521;
    padding: 4%;
    clear: both;
}
.div_of_4
{
    display: flex;
}
.div1_of_4
{
        width: 31.33333%;
        margin-left: 9.3333%;
        
}
.div1_of_4:first-child
{
    margin-left: 0;
}
.div1_of_4 h4
{
    font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 8%;
    font-family: cursive;
    padding-left: 18%;
}
.div1_of_4 p
{
    font-size: 0.8725em;
    color: #a9a9a9;
    line-height: 1.8em;
    font-weight: 400;
}
.div1_of_4 p.top
{
    margin-top: 4%;
}
.div1_of_4 span.bg
{
    background: #0f1521;
    padding: 4%;
}
.div1_of_4 span
{
    font-size: 1em;
    color: #a0a0a0;
    margin-top: 8%;
    display: block;
    line-height: 1.5em;
}
.f_nav li
{
    float: left;
    width: 16.3333%;
    margin: 0 20px 4px 0;
}
.f_nav li a
{
    display: block;
}
.f_nav li a img
{
    background: #ffffff;
    padding: 5px;
    border: 1px solid #eeeeee;
}
.f_nav li a img:hover
{
    border: 1px solid #999;
}
.f_icons
{
    margin-top: 8%;
    display: inline-block;
}
.f_icons ul li
{
    float: left;
    margin-left: 5px;
}
.f_icons ul li:first-child
{
    margin-left: 0;
}
.f_icons ul li a
{
    display: block;
    padding: 10px;
    background: #2e2e2e;
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}





  



  